
@{
    ViewBag.Title = "companyhome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>companyhome</h2>
<div>
    @Html.ActionLink("Add Job Details", "jobdetailpageload", "jobdetailsdb")
</div>


     
